[tool.poetry]
authors = ["Hume AI Dev <dev@hume.ai>"]
classifiers = [
  "Development Status :: 4 - Beta",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
]
description = "Hume AI Python Client"
keywords = [
  "hume",
  "expressive",
  "communication",
  "audio",
  "recognition",
  "ai",
  "analysis",
  "detection",
  "voice",
  "sentiment",
  "emotion",
]
license = "Proprietary"
name = "hume"
readme = "README.md"
repository = "https://github.com/HumeAI/hume-python-sdk"
version = "0.1.5"

[tool.poetry.dependencies]
python = ">=3.8"
requests = "^2.26.0"
typing-extensions = "^4.3.0"
websockets = { version = "^10.3", optional = true }

[tool.poetry.dev-dependencies]
covcheck = "^0.4.2"
flake8 = "^4.0.1"
mypy = "^0.960"
pydocstyle = "^6.1.1"
pylint = "^2.12.1"
pyproject-flake8 = "^0.0.1a2"
pytest = "^6.2.5"
pytest-asyncio = "^0.19.0"
pytest-cov = "^3.0.0"
semver = "^2.13.0"
types-requests = "^2.25.11"
types-setuptools = "^57.4.2"
yapf = "^0.32.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
mike = "^1.1.2"
mkdocs = "^1.3.1"
mkdocs-material = "^8.4.1"
mkdocstrings = { version = "^0.19.0", extras = ["python"] }

[tool.poetry.extras]
stream = ["websockets"]

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.covcheck.group.unit.coverage]
branch = 60.0
line = 84.0

[tool.covcheck.group.service.coverage]
branch = 66.0
line = 90.0

[tool.flake8]
ignore = ""           # Required to disable default ignores
max-line-length = 119

[tool.mypy]
disallow_incomplete_defs = true
disallow_untyped_calls = true
disallow_untyped_defs = true
ignore_missing_imports = true

[tool.pylint.basic]
good-names = ["id", "f"]
max-args = 12
max-attributes = 9
max-locals = 25
notes = ["FIXME"]

[tool.pylint.format]
max-line-length = 119

[tool.pylint.messages_control]
disable = [
  "logging-fstring-interpolation",
  "unspecified-encoding",
  "missing-docstring",
  "wrong-import-order",
  "duplicate-code",
  "too-few-public-methods",
]

[tool.pylint.reports]
output-format = "colorized"

[tool.yapf]
based_on_style = "pep8"
column_limit = 119
indent_width = 4
